html {
  // scroll-behavior: smooth;
  body {
    position: relative;
  }

  h1 {
    font-weight: 700;
  }

  h3 {
    text-align: center;
    margin-bottom: 70px;
  }

  section {
    padding: 70px 0;
  }
}

// < 576px
@include media-breakpoint-down(sm) {}

// >= 576px
@include media-breakpoint-up(sm) {}

// >= 768px
@include media-breakpoint-up(md) {}

// >= 992px
@include media-breakpoint-up(lg) {}

// >= 1200px
@include media-breakpoint-up(xl) {}