header {
  nav {
    background: rgba(10,10,10, .95);

    img.logo {
      height: 30px;
    }
  }
}

@include media-breakpoint-up(lg) {
  header {
    nav {
      background: transparent;
      transition: background .25s linear;
    }

    &.sticky-header {
      nav {
        background: rgba(10,10,10, .95);
      }
    }
  }
}
