section#intro {
  background-size: cover;
  background-position: center;

  color: $white;

  .col {
    background: rgba(10,10,10, .7);
  }

  body.home & {
    height: 600px;
  }

  body.reference & {
    height: 300px;
  }
}

// >= 576px
@include media-breakpoint-up(sm) {}

// >= 768px
@include media-breakpoint-up(md) {}

// >= 992px
@include media-breakpoint-up(lg) {
  section#intro {
    background-attachment: fixed;
  }
}

// >= 1200px
@include media-breakpoint-up(xl) {}