section#intro {
  @include background('intro.jpg', true);

  color: $white;

  .col {
    background: rgba(10,10,10, .7);
  }

  body.home & {
    height: 600px;
  }

  body.reference & {
    height: 300px;
  }
}