body.home {
  section.services,
  section.contact {
    // background: $gray-300;
    // background: $primary;


    background: #193958;
    background: #121a27;
    background: #2c3e50;
    color: $white;
  }

  section.services {
    i {
      font-size: $h3-font-size;
    }
  }

  section.references {
    .reference-item {
      background: $black;
      border: 1px solid $gray-300;
      padding: 0;
      position: relative;

      h4 {
        color: $white;
        font-weight: 700;
        opacity: 0;
        position: absolute;
        width: 100%;
      }

      &:hover {
        h4 {
          bottom: 50%;
          transform: translateY(50%);
          opacity: 1;
          transition: all .5s;
        }

        img {
          opacity: .5;
          transition: opacity .5s;
        }
      }
    }
  }

  section.contact {
    a {
      color: $white;
    }
  }
}

// >= 576px
@include media-breakpoint-up(sm) {}

// >= 768px
@include media-breakpoint-up(md) {}

// >= 992px
@include media-breakpoint-up(lg) {}

// >= 1200px
@include media-breakpoint-up(xl) {}